[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-Migrate = "==2.1.1"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.3.2"
gunicorn = "==19.7.1"
SQLAlchemy = "==1.1.14"
Flask-Cors = "==3.0.6"
sqlalchemy-utils = "==0.33.6"
flask = "==1.0.2"
"psycopg2" = "==2.7.5"
"testing.postgresql" = "*"

[dev-packages]
pylint="~=2.1.1"
black = "==18.9b0"
mypy = "*"
pytest = "==3.7.1"

[requires]
python_version = "3.7"
