[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==0.9.6"
"flake8" = "==3.5.0"
Flask = "==0.12.2"
Flask-Migrate = "==2.1.1"
Flask-Script = "==2.0.6"
Flask-SQLAlchemy = "==2.3.2"
gunicorn = "==19.7.1"
"psycopg2" = "==2.7.3.2"
pyflakes = "==1.6.0"
requests = "==2.18.4"
SQLAlchemy = "==1.1.14"
"urllib3" = "==1.22"
Flask-Cors = "==3.0.3"
flask-script = "*"
sqlalchemy-utils = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
